.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h6{
  margin: 5px 0;
  text-transform: uppercase;
}

.card{
  background-color: rgb(73, 72, 72);
  padding-top: 10px;
  width: 300px;
  max-width: 100%;

}

.card-img-top{
  border: 3px solid white#61dafb;
  border-radius:50%;
  padding:7px;
  width:40% ;
  height: auto;
  align-items: center;

}

.buttons{
display: flex;
justify-content: center;
gap: 10px;
font-weight: 500;
padding:10px 25px;

}

.skills ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li{
  border:1px solid gray;
  display: inline-block;
  border-radius: 2px;
  padding: 7px;
  margin: 0 7px 7px 0;
  font-size: 12px;
}